
<div [formGroup]="form">


    <mat-form-field>

      <input matInput placeholder="Course title" formControlName="title" #title>

      <mat-hint align="end">
        {{ title.value.length }} / 60
      </mat-hint>
      <div *ngIf="courseTitle.errors?.titleExists"> 
          This title is already being used.
      </div>

    </mat-form-field>
  
    <mat-form-field>
    
      <input matInput [matDatepicker]="releaseDatePicker" 
          formControlName="releasedAt"
          placeholder="Release data">
      
      <mat-datepicker-toggle [for]="releaseDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #releaseDatePicker></mat-datepicker>

    </mat-form-field>

    <!-- checkbox -->
    <mat-checkbox color="primary">
      Downloads Allowed?
    </mat-checkbox>

    <!-- textarea -->
    <mat-form-field appearance="outline">

      <textarea matInput placeholder="Description" formControlName="longDescription">
      </textarea>

    </mat-form-field>
    
  
  <div> 
    {{ form.value | json }}
  </div>

</div>