<div [formGroup]="form">
  <!-- Radio group Free/Premium-->
  <mat-radio-group formControlName="courseType">
    <mat-radio-button value="free">Free</mat-radio-button>
    <mat-radio-button value="premium">Premium</mat-radio-button>
  </mat-radio-group>
  
  <mat-form-field>
    <input type="number" matInput placeholder="Price" formControlName="price">
  </mat-form-field>

  
  <!-- Date Range picker when course in promotion -->
  <mat-form-field>

    <mat-label>Enter Session Period</mat-label>

    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="From Date" required formControlName="fromDate">
      <input matEndDate placeholder="To Date" required formControlName="toDate">
    </mat-date-range-input>

    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>

    <!-- Invalid Date Messages -->
    <mat-error *ngIf="form.controls.fromDate.hasError('matStartDateInvalid')">Invalid start date</mat-error>
    <mat-error *ngIf="form.controls.toDate.hasError('matEndDateInvalid')">Invalid end date</mat-error>

    <!-- Required Date Messages -->
    <mat-error *ngIf="form.controls.fromDate.errors?.required">From Date Required</mat-error>
    <mat-error *ngIf="form.controls.toDate.errors?.required">To Date Required</mat-error>

  </mat-form-field>

  <div>
    {{ form.value | json }}
  </div>
</div>

