<div [formGroup]="form">

  <!-- Radio group Free/Premium-->
  <mat-radio-group formControlName="courseType">
    <mat-radio-button value="free">Free</mat-radio-button>
    <mat-radio-button value="premium">Premium</mat-radio-button>
  </mat-radio-group>

  <mat-form-field>
    <input type="number" matInput placeholder="Price" formControlName="price">
  </mat-form-field>

  <!-- Date Range picker when course in promotion -->
  <mat-form-field>
    <mat-label> Promotional period </mat-label>

    <mat-data-range-input>
      <input matStartDate placeholder="Start Date">
      <input matEndDate placeholder="End Date">


  </mat-form-field>
  

  <div>
    {{ form.value | json }}
  </div>

</div>
