<div class="create-course-panel data-form">
  <h2 class="title">Create New Course</h2>

    <mat-horizontal-stepper [linear]="true" class="mat-elevation-z5" labelPosition="bottom">
    
      <!-- Step 1 -->
      <mat-step [stepControl]="step1.form">
        
          <ng-template matStepLabel> Course landing page details </ng-template>

          
          <app-create-course-step-1 #step1></app-create-course-step-1>

          <div class="stepper-buttons">
            <button mat-raised-button color="primary" matStepperNext>
              Continue to Step 2
            </button>
          </div>

      </mat-step>


      <!-- Step 2 -->
      <mat-step [stepControl]="step2.form" errorMessage="Pricing in error">

        <ng-template matStepLabel> Course Pricing details </ng-template>

          <app-create-course-step-2 #step2></app-create-course-step-2>

          <div class="stepper-buttons">
            <button mat-raised-button color="primary" matStepperPrevious> Back </button>
            <button mat-raised-button color="primary" matStepperNext> Continue to Step 3</button>
          </div>        

      </mat-step>

    </mat-horizontal-stepper>


    <!-- Step 3 -->
    <mat-step [stepControl]="step3.form" errorMessage="Course Lessons ">

        <ng-template matStepLabel>course lessons</ng-template>
        <app-create-course-step-3 #step3></app-create-course-step-3>

        <div class="stepper-buttons">
            <button mat-raised-button matStepperPrevious>Back</button>
            <button mat-raised-button color="primary" 
              [disabled]="!step3.form.valid">Create Course</button>
        </div>

    </mat-step>

</div>